.btnAxios{
  width: 100px;
  margin: 10px;
  background-color: #fff429;
  border-radius: 5px;
  padding: 10px;
  color: #61dafb;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #fcfcfc;
  background-color: #61dafb;
}