.addBtn {
  height: 40px;
  width: 150px;
  background-color: #9cd55f;
  color: #ffffff;
  border: 1px solid #9cd55f;
  border-radius: 5px;
}

.deleteBtn {
  height: 40px;
  width: 150px;
  background-color: #a24343;
  color: #fcfcfc;
  border: 1px solid #a24343;
  border-radius: 5px;
}