.btn{
  width: 100px;
  height: 50px;
  background: #61dafb;
  border-radius: 10%;
}
.btn:hover{
  //width: 110px;
  //height: 60px;
  background: #6dab6d;
}

.box{
  width: 200px;
  height: 100px;
  background: #83eeee;
  text-align: center;

}

.container{
  width: 100%;
  height: 100%;
  background: #d5d5cb;
}