.previewContainer{
    padding: 50px;
    border: 1px solid grey;
    margin: 20px;
    height: auto;
    background-color: bisque;
}

.inputsContainer {
    padding: 50px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputsContainer input {
    margin-bottom: 20px;
    width: 50%;

}

.p{
    color: salmon;
    background-color: khaki;
}

.btn{
    width: 100px;
    margin: 10px;
}

h2{
    font-size: 10px;
}