.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  background-color: #a4e4fa;
}
.squareContainer {
  height: 30vh;
  width: 30vh;
  background-color: #f1c375;
}

.button {
  height: 3vh;
  width: 10vh;
  border-radius: 10px;
  border: 1px solid #f5bc62;
  background-color: #c8e4ef;
}