
.newInput{
  background: #b0efab;
  height: 80vh;
  width: 100%;
  border: 3px solid saddlebrown;
  color:red;
  padding: 20px;
}

.p{
  font-size: x-large;
  font-weight: normal;
  color:black;
  padding: 20px;
}

.btn{
  color:blue;
}