.container{
    height: 50px;
    background-color: lightgoldenrodyellow;
    color: lightpink;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}