.box{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  background: #a2eaa2;
  margin: 10px;
}

.btn{
  width: 200px;
  height: 30px;
  background: #61dafb;
  display: block;
  margin: 10px;
  border: 1px solid blue;
  border-radius: 5%;

}

.btn:hover{
  background: #b0c3c9;
}